In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df=pd.read_csv('industrycount.csv')

In [5]:
df.head()

                              Industry   Count  Score
0  Information Technology and Services  798482   90.0
1            Marketing and Advertising  657376   90.0
2                      Human Resources  289651   70.0
3                    Computer Software  283835   90.0
4                   Financial Services  264522   80.0

In [10]:
df.isnull().count(axis=1)

0      3
1      3
2      3
3      3
4      3
5      3
6      3
7      3
8      3
9      3
10     3
11     3
12     3
13     3
14     3
15     3
16     3
17     3
18     3
19     3
20     3
21     3
22     3
23     3
24     3
25     3
26     3
27     3
28     3
29     3
      ..
117    3
118    3
119    3
120    3
121    3
122    3
123    3
124    3
125    3
126    3
127    3
128    3
129    3
130    3
131    3
132    3
133    3
134    3
135    3
136    3
137    3
138    3
139    3
140    3
141    3
142    3
143    3
144    3
145    3
146    3
Length: 147, dtype: int64

In [13]:
df.count(axis=1)

0      3
1      3
2      3
3      3
4      3
5      3
6      3
7      3
8      3
9      3
10     3
11     3
12     3
13     3
14     3
15     3
16     3
17     3
18     3
19     3
20     3
21     3
22     3
23     3
24     3
25     3
26     3
27     3
28     3
29     3
      ..
117    2
118    2
119    2
120    2
121    2
122    2
123    2
124    2
125    2
126    2
127    2
128    2
129    2
130    2
131    2
132    2
133    2
134    2
135    2
136    2
137    2
138    2
139    2
140    2
141    2
142    2
143    2
144    2
145    2
146    2
Length: 147, dtype: int64

In [14]:
df.isnull().count(axis=1)

0      3
1      3
2      3
3      3
4      3
5      3
6      3
7      3
8      3
9      3
10     3
11     3
12     3
13     3
14     3
15     3
16     3
17     3
18     3
19     3
20     3
21     3
22     3
23     3
24     3
25     3
26     3
27     3
28     3
29     3
      ..
117    3
118    3
119    3
120    3
121    3
122    3
123    3
124    3
125    3
126    3
127    3
128    3
129    3
130    3
131    3
132    3
133    3
134    3
135    3
136    3
137    3
138    3
139    3
140    3
141    3
142    3
143    3
144    3
145    3
146    3
Length: 147, dtype: int64

In [15]:
df.isnull().any()

Industry    False
Count       False
Score        True
dtype: bool

In [18]:
null_col=df.columns[df.isnull().any()]

In [19]:
null_col

Index(['Score'], dtype='object')

In [21]:
df.columns[null_col]

IndexError: arrays used as indices must be of integer (or boolean) type

In [22]:
df.columns

Index(['Industry', 'Count', 'Score'], dtype='object')

In [25]:
df.Score

0      90.0
1      90.0
2      70.0
3      90.0
4      80.0
5      60.0
6      60.0
7      90.0
8      80.0
9      90.0
10     90.0
11     70.0
12     30.0
13     80.0
14     40.0
15     80.0
16     90.0
17     40.0
18     40.0
19     60.0
20     70.0
21     30.0
22     50.0
23     80.0
24     80.0
25     70.0
26     60.0
27     50.0
28     30.0
29     30.0
       ...
117     NaN
118     NaN
119     NaN
120     NaN
121     NaN
122     NaN
123     NaN
124     NaN
125     NaN
126     NaN
127     NaN
128     NaN
129     NaN
130     NaN
131     NaN
132     NaN
133     NaN
134     NaN
135     NaN
136     NaN
137     NaN
138     NaN
139     NaN
140     NaN
141     NaN
142     NaN
143     NaN
144     NaN
145     NaN
146     NaN
Name: Score, Length: 147, dtype: float64

In [26]:
df.Score.fillna(40,inplace=True)

In [27]:
df.Score

0      90.0
1      90.0
2      70.0
3      90.0
4      80.0
5      60.0
6      60.0
7      90.0
8      80.0
9      90.0
10     90.0
11     70.0
12     30.0
13     80.0
14     40.0
15     80.0
16     90.0
17     40.0
18     40.0
19     60.0
20     70.0
21     30.0
22     50.0
23     80.0
24     80.0
25     70.0
26     60.0
27     50.0
28     30.0
29     30.0
       ...
117    40.0
118    40.0
119    40.0
120    40.0
121    40.0
122    40.0
123    40.0
124    40.0
125    40.0
126    40.0
127    40.0
128    40.0
129    40.0
130    40.0
131    40.0
132    40.0
133    40.0
134    40.0
135    40.0
136    40.0
137    40.0
138    40.0
139    40.0
140    40.0
141    40.0
142    40.0
143    40.0
144    40.0
145    40.0
146    40.0
Name: Score, Length: 147, dtype: float64

In [28]:
df.head(100)

                               Industry   Count  Score
0   Information Technology and Services  798482   90.0
1             Marketing and Advertising  657376   90.0
2                       Human Resources  289651   70.0
3                     Computer Software  283835   90.0
4                    Financial Services  264522   80.0
5               Staffing and Recruiting  228199   60.0
6                              Internet  172269   60.0
7                 Management Consulting  171246   90.0
8                    Telecommunications  159799   80.0
9                                Retail  150514   90.0
10               Hospital & Health Care  146482   90.0
11                     Higher Education  133890   70.0
12                          Real Estate  122746   30.0
13                 Education Management  121295   80.0
14  Public Relations and Communications  111916   40.0
15                              Banking  110570   80.0
16                           Accounting  109805   90.0
17    Nonprofit Organization Management  103693   40.0
18         Health, Wellness and Fitness   94578   40.0
19                            Insurance   91241   60.0
20                         Oil & Energy   86436   70.0
21                         Construction   84489   30.0
22     Professional Training & Coaching   76365   50.0
23                      Pharmaceuticals   75741   80.0
24                       Consumer Goods   75615   80.0
25                           Automotive   73205   70.0
26                          Hospitality   70893   60.0
27                               Design   65233   50.0
28                        Entertainment   64289   30.0
29                         Law Practice   63298   30.0
..                                  ...     ...    ...
70                                Music   22012   40.0
71                      Food Production   21212   50.0
72                 Consumer Electronics   21072   70.0
73                    Airlines/Aviation   20732   70.0
74               Outsourcing/Offshoring   20468   40.0
75     Venture Capital & Private Equity   19875   40.0
76                            Utilities   19685   40.0
77                      Mining & Metals   19546   40.0
78          Security and Investigations   19543   40.0
79                          Photography   18864   40.0
80                  Facilities Services   18489   40.0
81                            Wholesale   17777   40.0
82                   Investment Banking   17723   40.0
83                   Building Materials   17559   40.0
84                           E-Learning   17336   40.0
85                          Restaurants   17195   40.0
86          Primary/Secondary Education   16907   40.0
87         Individual & Family Services   16517   40.0
88                            Machinery   16243   40.0
89                International Affairs   16081   40.0
90                  Program Development   15641   40.0
91      Business Supplies and Equipment   15509   40.0
92                             Printing   15403   40.0
93                 Government Relations   15299   40.0
94                            Cosmetics   15040   40.0
95                Industrial Automation   13333   40.0
96                    Import and Export   13008   40.0
97             Motion Pictures and Film   12494   40.0
98                             Wireless   12074   40.0
99          Civic & Social Organization   12036   40.0

[100 rows x 3 columns]

In [33]:
df.iloc[[2,4,3]]

             Industry   Count  Score
2     Human Resources  289651   70.0
4  Financial Services  264522   80.0
3   Computer Software  283835   90.0

In [64]:

df.loc[[75,93]]['Score'].replace(40,50,inplace=True)

In [61]:
df.loc[75]

Industry    Venture Capital & Private Equity
Count                                  19875
Score                                     40
Name: 75, dtype: object

In [39]:
df.head(100)

                               Industry   Count  Score
0   Information Technology and Services  798482   90.0
1             Marketing and Advertising  657376   90.0
2                       Human Resources  289651   70.0
3                     Computer Software  283835   90.0
4                    Financial Services  264522   80.0
5               Staffing and Recruiting  228199   60.0
6                              Internet  172269   60.0
7                 Management Consulting  171246   90.0
8                    Telecommunications  159799   80.0
9                                Retail  150514   90.0
10               Hospital & Health Care  146482   90.0
11                     Higher Education  133890   70.0
12                          Real Estate  122746   30.0
13                 Education Management  121295   80.0
14  Public Relations and Communications  111916   40.0
15                              Banking  110570   80.0
16                           Accounting  109805   90.0
17    Nonprofit Organization Management  103693   40.0
18         Health, Wellness and Fitness   94578   40.0
19                            Insurance   91241   60.0
20                         Oil & Energy   86436   70.0
21                         Construction   84489   30.0
22     Professional Training & Coaching   76365   50.0
23                      Pharmaceuticals   75741   80.0
24                       Consumer Goods   75615   80.0
25                           Automotive   73205   70.0
26                          Hospitality   70893   60.0
27                               Design   65233   50.0
28                        Entertainment   64289   30.0
29                         Law Practice   63298   30.0
..                                  ...     ...    ...
70                                Music   22012   40.0
71                      Food Production   21212   50.0
72                 Consumer Electronics   21072   70.0
73                    Airlines/Aviation   20732   70.0
74               Outsourcing/Offshoring   20468   40.0
75     Venture Capital & Private Equity   19875   40.0
76                            Utilities   19685   40.0
77                      Mining & Metals   19546   40.0
78          Security and Investigations   19543   40.0
79                          Photography   18864   40.0
80                  Facilities Services   18489   40.0
81                            Wholesale   17777   40.0
82                   Investment Banking   17723   40.0
83                   Building Materials   17559   40.0
84                           E-Learning   17336   40.0
85                          Restaurants   17195   40.0
86          Primary/Secondary Education   16907   40.0
87         Individual & Family Services   16517   40.0
88                            Machinery   16243   40.0
89                International Affairs   16081   40.0
90                  Program Development   15641   40.0
91      Business Supplies and Equipment   15509   40.0
92                             Printing   15403   40.0
93                 Government Relations   15299   40.0
94                            Cosmetics   15040   40.0
95                Industrial Automation   13333   40.0
96                    Import and Export   13008   40.0
97             Motion Pictures and Film   12494   40.0
98                             Wireless   12074   40.0
99          Civic & Social Organization   12036   40.0

[100 rows x 3 columns]

In [49]:
df.loc[:,'Score']

0      90.0
1      90.0
2      70.0
3      90.0
4      80.0
5      60.0
6      60.0
7      90.0
8      80.0
9      90.0
10     90.0
11     70.0
12     30.0
13     80.0
14     40.0
15     80.0
16     90.0
17     40.0
18     40.0
19     60.0
20     70.0
21     30.0
22     50.0
23     80.0
24     80.0
25     70.0
26     60.0
27     50.0
28     30.0
29     30.0
       ...
117    40.0
118    40.0
119    40.0
120    40.0
121    40.0
122    40.0
123    40.0
124    40.0
125    40.0
126    40.0
127    40.0
128    40.0
129    40.0
130    40.0
131    40.0
132    40.0
133    40.0
134    40.0
135    40.0
136    40.0
137    40.0
138    40.0
139    40.0
140    40.0
141    40.0
142    40.0
143    40.0
144    40.0
145    40.0
146    40.0
Name: Score, Length: 147, dtype: float64

In [51]:
df.loc['Venture Capital & Private Equity']

KeyError: 'the label [Venture Capital & Private Equity] is not in the [index]'

In [52]:
pd.options.mode.chained_assignment = None  # default='warn'

In [68]:
df.loc[df['Score']==70]['Industry']

2                         Human Resources
11                       Higher Education
20                           Oil & Energy
25                             Automotive
31    Electrical/Electronic Manufacturing
47                          Biotechnology
57       Transportation/Trucking/Railroad
59                              Chemicals
72                   Consumer Electronics
73                      Airlines/Aviation
Name: Industry, dtype: object